workflows/02c-agent-log.json
{
  "id": "N1b1o3ED1FXDHWBW",
  "name": "02C-Agent-Log (callable)",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "phone",
              "type": "string"
            },
            {
              "name": "event_type",
              "type": "string"
            },
            {
              "name": "data",
              "type": "string"
            }
          ]
        }
      },
      "id": "start-agent-log",
      "name": "Start",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        128,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "phone-field",
              "name": "phone",
              "value": "={{ $json.phone }}",
              "type": "string"
            },
            {
              "id": "event-type-field",
              "name": "event_type",
              "value": "={{ $json.event_type }}",
              "type": "string"
            },
            {
              "id": "data-field",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "validate-payload",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        300
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO events (type, payload) VALUES ('agent_log', $1::jsonb);",
        "options": {
          "queryReplacement": "={{ JSON.stringify({ phone: $node['Validate Payload'].json.phone, event_type: $node['Validate Payload'].json.event_type, data: $node['Validate Payload'].json.data }) }}"
        }
      },
      "id": "log-agent-event",
      "name": "Log Agent Event",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        720,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "CONFIGURE_ME",
          "name": "CONFIGURE_ME"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "success",
              "name": "success",
              "value": true,
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "respond-200",
      "name": "Success Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Validate Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Payload": {
      "main": [
        [
          {
            "node": "Log Agent Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Agent Event": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  }
}